$mobile: "(max-width: 767px)";
$min-tablet: "(min-width: 768px) and (orientation: landscape)";
$tablet: "(min-width: 768px) and (max-width: 1023px) and (orientation: landscape)";
$max-tablet: "(max-width: 1023px)";
$desktop: "(min-width: 1024px) and (orientation: landscape)";
$large-desktop: "(min-width: 1600px)";
$tablet-portrait: "(min-width: 768px) and (orientation: portrait)";