$mobile: "(max-width: 767px)";
$min-tablet: "(min-width: 768px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$max-tablet: "(max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$large-desktop: "(min-width: 1600px)";
